<template name="layout">
  {{yield "header"}}
    {{yield}}
  <section class="grid">
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
    <div class="cell width300"></div>
  </section>
</template>